---
	import BaseLayout from "../layouts/BaseLayout.astro";
	import Intro from "../components/intro.astro";

	let title = "WamuFX - Forex, Commodities, Indices and Cryptocurrency trading signals website";
	let description = "WafuFX is an information station for forex, commodities, indices and cryptocurrency traders.";
	let heading = "Trading Signals & Trade Ideas <br/>from <span class='text-yellow-300'>Professional</span> Analysts";
	let message = "Our team of experienced technical analysts and professional traders scrutinise the global financial markets daily to provide comprehensive analysis on the latest market trends and to deliver clear trade ideas that enhance trading opportunities.";
---

<BaseLayout title={title} description={description}>
	<Intro heading={heading} message={message} />
	<section>
		<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-0 py-8 grid grid-cols-3 gap-4">
			<div class="col-span-3 md:col-span-1 border-2  md:max-w-md w-full p-4 rounded-md shadow-md">
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Market:</span>
					<span class="font-semibold">USD/GBP</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Direction:</span>
					<span class="font-semibold">Sell</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Entry:</span>
					<span class="select-all font-semibold">1.1014</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Stop loss:</span>
					<span class="select-all">1.0959</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Take profit:</span>
					<span class="select-all font-semibold">1.0959</span>	
				</div>
			</div>

			<div class="col-span-3 md:col-span-1 border-2  md:max-w-md w-full p-4 rounded-md shadow-md">
				<div class="flex justify-between">
					<span class="font-bold uppercase">Market:</span>
					<span class="font-semibold">Forex</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Direction:</span>
					<span class="font-semibold">Sell</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Entry:</span>
					<span class="select-all font-semibold">1.1014</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Stop loss:</span>
					<span class="select-all font-semibold">1.0959</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Take profit:</span>
					<span class="select-all font-semibold">1.0959</span>	
				</div>
			</div>

			<div class="col-span-3 md:col-span-1 border-2  md:max-w-md w-full p-4 rounded-md shadow-md">
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Market:</span>
					<span class="font-semibold">Forex</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Direction:</span>
					<span class="font-semibold">Sell</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Entry:</span>
					<span class="select-all font-semibold">1.1014</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Stop loss:</span>
					<span class="select-all font-semibold">1.0959</span>	
				</div>
				<div class="flex justify-between border-dotted border-b border-white">
					<span class="font-bold uppercase">Take profit:</span>
					<span class="select-all font-semibold">1.0959</span>	
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-0 py-8">
			<h2 class="text-2xl font-semibold text-yellow-300">Disclaimer</h2>
			<p class="mt-4">Stocks, Options, Binary options, Forex and Future trading has large potential rewards, but also large potential risk. You must be aware of the risks and be willing to accept them in order to invest in the stock, binary options or futures markets. Don't trade with money you can't afford to lose especially with leveraged instruments such as binary options trading, futures trading or forex trading. This website is neither a solicitation nor an offer to Buy/Sell stocks, futures or options. No representation is being made that any account will or is likely to achieve profits or losses similar to those discussed on this website. The past performance of any trading system or methodology is not necessarily indicative of future results. You could lose all of your money fast due too: poor market trading conditions, mechanical error, emotional induced errors, news surprises and earnings releases.</p>

			<p class="mt-4">CFTC RULE 4.41 - HYPOTHETICAL OR SIMULATED PERFORMANCE RESULTS HAVE CERTAIN LIMITATIONS. UNLIKE AN ACTUAL PERFORMANCE RECORD, SIMULATED RESULTS DO NOT REPRESENT ACTUAL TRADING. ALSO, SINCE THE TRADES HAVE NOT BEEN EXECUTED, THE RESULTS MAY HAVE UNDER-OR-OVER COMPENSATED FOR THE IMPACT, IF ANY, OF CERTAIN MARKET FACTORS, SUCH AS LACK OF LIQUIDITY. SIMULATED TRADING PROGRAMS IN GENERAL ARE ALSO SUBJECT TO THE FACT THAT THEY ARE DESIGNED WITH THE BENEFIT OF HINDSIGHT. NO REPRESENTATION IS BEING MADE THAT ANY ACCOUNT WILL OR IS LIKELY TO ACHIEVE PROFIT OR LOSSES SIMILAR TO THOSE SHOWN.</p>

			<p class="mt-4">The owners of the website and the website hereby waive any liability whatsoever due to the use of the website and/or information. Use of the website, the content and the information is made on the user's sole liability. The user hereby releases the owners of the website from any liability for damage caused to his computer, in any, through the use of the website and/or its content and/or its various services. The user hereby releases the owners of the website, the website, their partners, agents, employees, officers, managers, directors, shareholders, etc. from any liability for losses and/or financial damages and/or personal bodily damages and/or fraud, caused through the use of the website.</p>
		</div>
	</section>
</BaseLayout>
