---
	let {title} = Astro.props;
	let {description} = Astro.props;
---

	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="/assets/logo.svg" />
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<meta name="description" content={description}>

