<footer class="mt-auto">
    <div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-0 py-6 flex flex-col md:flex-row text-center md:justify-between items-center border-b border-t border-white">
        <p class="mb-6 md:mb-0 text-xs">All rights reserved. The use of this website constitutes acceptance of our user agreement.</p>

        <ul class="flex gap-4">
            <li><a href="/privacy-policy" class="text-xs">Privacy Policy</a></li>
            <li><a href="/terms" class="text-xs border-l-2 pl-4">Terms of Service</a></li>
        </ul>
    </div>
</footer>